# HOMEWORK

# LISTAS

In [ ]:
#Crear una lista - Sirve para almacenar varios elementos en una sola variable

In [66]:
list = ["pollo", "carne", 2, 5, (1,2,3,4,5), "pollo", "pollo", "carne"]

In [67]:
list

['pollo', 'carne', 2, 5, (1, 2, 3, 4, 5), 'pollo', 'pollo', 'carne']

In [ ]:
#Se pueden indexar los elementos de una lista para facilitar el llamado.

In [68]:
list[4]

(1, 2, 3, 4, 5)

# EXERCISE

In [ ]:
#AGREGA Y RETIRA UN NUEVO ELEMENTO A LA LISTA

In [69]:
list.append("pescado") #el comando append sirve para agregar un elemnto

In [70]:
list

['pollo', 'carne', 2, 5, (1, 2, 3, 4, 5), 'pollo', 'pollo', 'carne', 'pescado']

In [71]:
list.remove(2) #el comando remove sirve para eliminar un elemento (ya no esta el número 2)

In [72]:
list

['pollo', 'carne', 5, (1, 2, 3, 4, 5), 'pollo', 'pollo', 'carne', 'pescado']

In [73]:
list.count("pollo") #el comando count sirve para contar un elemnto de una lista

3

# DICTIONARIES

In [ ]:
#Se utilizan para almacenar valores de datos en Key-Value pairs

In [74]:
dictionary1={'animales':['gato', 'perro', 'loro'],'factura':[34.50, 20.8, 30.7], 'precio':[10, 20, 30], 'nivel':[1,2,3,4,5]}

In [75]:
dictionary1

{'animales': ['gato', 'perro', 'loro'],
 'factura': [34.5, 20.8, 30.7],
 'precio': [10, 20, 30],
 'nivel': [1, 2, 3, 4, 5]}

In [78]:
dictionary1['animales'] #detallar los Keys me permite llamar a los valores de dicha llave

['gato', 'perro', 'loro']

In [79]:
len(dictionary1) #el comando len nos brinda el tamaño de nuestro diccionario

5

# EXERCISE

In [ ]:
CREA UNA NUEVA KEY - VALUE

In [76]:
dictionary1.update({'categoria':['bueno', 'malo']}) #El comando update sirve para agregar Key-Value en un diccionario

In [77]:
dictionary1

{'animales': ['gato', 'perro', 'loro'],
 'factura': [34.5, 20.8, 30.7],
 'precio': [10, 20, 30],
 'nivel': [1, 2, 3, 4, 5],
 'categoria': ['bueno', 'malo']}

In [80]:
dictionary1.pop('categoria') #El comando pop sirve para remover Key-Value en un diccionario

['bueno', 'malo']

# If- Else Statements

In [85]:
a = 10

In [86]:
if a == 10:
    print('The variable a is equal to 10')
else:
    print('The variable a is different than 10')

The variable a is equal to 10

# EXERCISE

In [ ]:
#Evaluate wheter your previous list contains more than 3 items

In [87]:
if len(dictionary1)>3:
    print('yes')
else:
    print('no')

yes

# FOR LOOPS

# EXERCISE

In [ ]:
#create a list with numbers in it. my_list = [0,1,2,3]

In [88]:
new_list = [0,1,2,3]

In [ ]:
#Iterate over it with a for loop, subtract 2 to every number, and print every number at every iteration

In [89]:
for el in new_list:
    print(el-2)

-2
-1
0
1

In [90]:
new_list1=[4,5,6,7]

In [91]:
for el in new_list1:
    print(el-2)

2
3
4
5

# While Loops

In [92]:
aa = 5

In [93]:
aa = 5
while aa !=0:
    print(aa)
    aa -= 1
print(f' The new value of aa is {aa} as it should be')

5
4
3
2
1
 The new value of aa is 0 as it should be

# Introduction to functions

In [94]:
def mi_funcion(arg1, arg2):   #def  + name_function(parámetros de la función):
    print(arg1)               #lo que quiero hacer    
    print(arg2)               #return output
    return print

In [95]:
mi_funcion(2,3)

2
3

In [96]:
def multiply_two_numbers(num1, num2):
    result = num1 * num2
    
    return result

In [98]:
new_num = multiply_two_numbers(3,4)

In [99]:
new_num

12

# EXERCISE

In [ ]:
#CREAR UNA FUNCIÓN QUE ELEVE AL CUADRO CUALQUIER NÚMERO

In [100]:
def fun_square(num1):
    result=num1**2
    return result

In [101]:
fun_square(3)

9

In [ ]:
#Crear un función en donde si el 1er elemento es > a 3 devuelva la suma, si es < a 3 devuelva la resta y si es = a 3 devuelva el producto.

In [102]:
#Function to combine two numerical variables 

def funcion(num1, num2):
    if num1>3:
        result=num1 + num2
    if num1<3: 
        result=num1 - num2
    if num1==3:
        result=num1*num2
        
    return result

In [103]:
funcion(3,4)

12

In [104]:
funcion(7,4)

11

# INTRODUCCION A PANDAS

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("police_deaths_USA_v6.csv")

In [3]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25623 entries, 0 to 25622
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          25623 non-null  object
 1   Name          25623 non-null  object
 2   Age           22946 non-null  float64
 3   End_Of_Watch  25623 non-null  object
 4   Day_Of_Week   25623 non-null  object
 5   Cause         25622 non-null  object
 6   Department    25623 non-null  object
 7   State         25623 non-null  object
 8   Tour          17417 non-null  object
 9   Badge         7482 non-null   object
 10  Weapon        16263 non-null  object
 11  Offender      13803 non-null  object
 12  Summary       25623 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.5+ MB

In [5]:
df.describe()

                Age
count  22946.000000
mean      40.289419
std       15.799729
min       17.000000
25%       31.000000
50%       39.000000
75%       48.000000
max     1661.000000

In [6]:
df.isna().sum()  #suma de valores nulos tengo por columna

Rank                0
Name                0
Age              2677
End_Of_Watch        0
Day_Of_Week         0
Cause               1
Department          0
State               0
Tour             8206
Badge           18141
Weapon           9360
Offender        11820
Summary             0
dtype: int64

In [7]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender',
       'Summary'],
      dtype='object')

In [8]:
df['State']  #llamar a una columna en específico"

0              New York
1              New York
2              New York
3         United States
4              New York
              ...
25618        Washington
25619    North Carolina
25620         Wisconsin
25621    North Carolina
25622    North Carolina
Name: State, Length: 25623, dtype: object

# EXERCISE

In [ ]:
#HOW MANY CAUSES OF THE MURDER DO WE HAVE?

In [9]:
df['Cause'].value_counts() # Permite contar valores repetidos de la columna "Cause" - Causa de muerte

Gunfire                     12869
Automobile crash             2507
Heart attack                 1187
Motorcycle crash             1157
Vehicular assault             976
Struck by vehicle             911
COVID19                       812
Assault                       697
Vehicle pursuit               677
Gunfire (Inadvertent)         660
Stabbed                       481
Aircraft accident             391
9/11 related illness          365
Struck by train               314
Drowned                       282
Duty related illness          255
Fall                          213
Animal related                 91
Accidental                     89
Electrocuted                   88
Terrorist attack               82
Struck by streetcar            76
Fire                           69
Explosion                      66
Bomb                           61
Exposure to toxins             49
Weather/Natural disaster       37
Training accident              30
Train accident                 27
Structure collapse             25
Heatstroke                     24
Hypothermia                    19
Boating accident               16
Bicycle accident               14
Poisoned                        4
Unidentified                    1
Name: Cause, dtype: int64

In [ ]:
#HOW MANY RANKS ARE IN THE DATASET?

In [14]:
df['Rank'].value_counts() # Permite contar valores repetidos de la columna "Rank" - Rangos

Patrolman                     3841
Police Officer                3514
Deputy Sheriff                3215
Officer                       1699
Sergeant                      1420
                              ...
Narcotic Agent II                1
Jail Officer                     1
Acting Marshal                   1
Deputy II                        1
Assistant Principal Keeper       1
Name: Rank, Length: 618, dtype: int64

In [ ]:
# WHICH IS THE 9TH MOST COMMOM RANK?

In [21]:
df['Rank'].value_counts().head(10) #Cuenta los 10 rangos que más se repiten

Patrolman          3841
Police Officer     3514
Deputy Sheriff     3215
Officer            1699
Sergeant           1420
Detective           853
Trooper             842
Sheriff             768
Chief of Police     680
Constable           593
Name: Rank, dtype: int64

In [ ]:
# WHICH DEPARTMENT HAS THE MOST POLICE DEATHS?

In [15]:
df['State'].value_counts() # Permite contar valores repetidos de la columna "State" - Muertes por Estado

Texas                       2182
United States               1953
New York                    1865
California                  1696
Illinois                    1147
Pennsylvania                1079
Kentucky                     935
Florida                      920
Ohio                         890
Georgia                      837
Tennessee                    715
Missouri                     714
Michigan                     636
North Carolina               624
Alabama                      609
Louisiana                    545
Oklahoma                     542
New Jersey                   529
Virginia                     524
Indiana                      461
South Carolina               414
Massachusetts                398
Puerto Rico                  396
Arkansas                     347
Colorado                     342
Maryland                     329
Mississippi                  319
Washington                   313
Wisconsin                    296
Kansas                       281
Arizona                      280
Minnesota                    258
West Virginia                225
Iowa                         213
Oregon                       187
New Mexico                   172
Connecticut                  156
District of Columbia         132
Nevada                       131
Utah                         130
Montana                      129
Nebraska                     118
Maine                         92
Idaho                         69
Wyoming                       60
North Dakota                  58
Hawaii                        57
South Dakota                  55
Rhode Island                  52
New Hampshire                 51
Alaska                        49
Delaware                      47
Vermont                       28
Guam                          14
Virgin Islands                13
Panama Canal Zone              3
American Samoa                 3
Northern Mariana Islands       3
Name: State, dtype: int64

In [16]:
df['Name'].unique() #valores unicos

array(['Darius Quimby', 'Cornelius Hogeboom', 'Isaac Smith', ...,
       'Ryan Patrick Copeland', 'Timothy James Brackeen',
       'Jordan Harris Sheldon'], dtype=object)

In [17]:
df['Name'].nunique() #cuanto valores únicos hay

25493

In [18]:
df['Cause'].unique()

array(['Stabbed', 'Gunfire', 'Duty related illness', 'Assault', 'Fall',
       'Drowned', 'Structure collapse', 'Fire', 'Gunfire (Inadvertent)',
       'Explosion', 'Vehicular assault', 'Animal related', 'Heart attack',
       'Weather/Natural disaster', 'Accidental', 'Hypothermia',
       'Heatstroke', 'Train accident', 'Struck by streetcar',
       'Struck by train', 'Bomb', 'Poisoned', 'Electrocuted',
       'Boating accident', 'Bicycle accident', 'Automobile crash',
       'Struck by vehicle', nan, 'Exposure to toxins', 'Motorcycle crash',
       'Vehicle pursuit', 'Unidentified', 'Training accident',
       'Aircraft accident', 'Terrorist attack', '9/11 related illness',
       'COVID19'], dtype=object)

In [19]:
df['Cause'].nunique()

36

In [20]:
df['Rank'].nunique()

618

# Operations with Columns & Rows

In [22]:
less_50 = df[df['Age']<= 50]
less_50.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ..."
5,Sheriff,Robert Maxwell,45.0,1797-11-12,Sunday,Gunfire,"Washington District Sheriff's Office, South Ca...",South Carolina,NaN,NaN,Gun; Unknown type,Acquitted,Sheriff Robert Maxwell was shot and killed aft...

In [24]:
less_50['Age'].median(), less_50['Age'].max()

(35.0, 50.0)

In [25]:
new_df = df[['Rank', 'Name', 'Age']]
new_df.head()

             Rank                Name   Age
0       Constable       Darius Quimby   NaN
1         Sheriff  Cornelius Hogeboom  53.0
2  Deputy Sheriff         Isaac Smith   NaN
3         Marshal      Robert Forsyth  40.0
4  Deputy Sheriff      Robert Berwick   NaN

In [27]:
new_df = df.iloc[0:10]
new_df.shape

(10, 13)

In [28]:
new_list = []
for el in df['Age'].tolist():
    if el > 50:
        new_list.append(1)
    else:
        new_list.append(0)
        
df['Binary age'] = new_list
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1

# Exercise

In [ ]:
#Corregir los datos de la columna Age en -2

In [29]:
df['corrected_age'] = df['Age'] - 2
df.head(2)

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary age,corrected_age
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0

# GROUPBY

In [35]:
gk = df.groupby('Day_Of_Week')

In [39]:
gk.get_group('Saturday')

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary age,corrected_age
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,38.0
9,Deputy Sheriff,John A. Gooch,NaN,1807-03-07,Saturday,Gunfire,"Livingston County Sheriff's Department, Kentucky",Kentucky,2 years,NaN,Handgun,NaN,Deputy Sheriff John Gooch was shot and killed ...,0,NaN
21,Constable,"Jacob Dearduff, Sr.",NaN,1823-02-22,Saturday,Stabbed,"Jamestown Police Department, Ohio",Ohio,NaN,NaN,Edged weapon; Knife,Spent life in prison,Constable Dearduff died from a stab wound he r...,0,NaN
29,Sheriff,Thomas Griffin Thornton,NaN,1830-06-12,Saturday,Gunfire,"Caroline County Sheriff's Office, Virginia",Virginia,NaN,NaN,Gun; Unknown type,Executed,Sheriff Thomas Thornton was shot and killed wh...,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25589,Police Officer,Nicholas Vella,44.0,2022-02-19,Saturday,Aircraft accident,"Huntington Beach Police Department, California",California,16 years,2120,NaN,NaN,Police Officer Nicholas Vella was killed in a ...,0,42.0
25598,Deputy Sheriff,Michael Adam Levison,30.0,2022-07-16,Saturday,Aircraft accident,"Bernalillo County Sheriff's Office, New Mexico",New Mexico,5 years,218,NaN,NaN,"Deputy Sheriff Michael Levison, Undersheriff L...",0,28.0
25603,Deputy Sheriff,Lorin Marie Readmond,41.0,2022-01-29,Saturday,Automobile crash,"Loving County Sheriff's Office, Texas",Texas,"7 years, 1 month",LC106,NaN,NaN,Deputy Sheriff Lorin Readmond was killed in a ...,0,39.0
25618,Police Officer,Donald Sahota,52.0,2022-01-29,Saturday,Gunfire (Inadvertent),"Vancouver Police Department, Washington",Washington,"27 years, 6 months",1531,Handgun,Arrested,Police Officer Donald Sahota was inadvertently...,1,50.0
25622,K9 Officer,Jordan Harris Sheldon,32.0,2019-05-04,Saturday,Gunfire,"Mooresville Police Department, North Carolina",North Carolina,6 years,NaN,Gun; Unknown type,Committed suicide,Police Officer Jordan Sheldon was shot and kil...,0,30.0

In [40]:
for group, df_group in df.groupby(['Day_Of_Week']):
    print(group, round(df_group['Age'].mean(), 2))

Friday 40.33
Monday 40.32
Saturday 39.89
Sunday 39.79
Thursday 40.36
Tuesday 40.53
Wednesday 40.89

/var/folders/fd/fxtr52v94x93fjxc0rywkng80000gn/T/ipykernel_46627/2792612470.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for group, df_group in df.groupby(['Day_Of_Week']):

# Apply

# EXERCISE

In [ ]:
#Construye la columna Rangos de edad (Nueva columna)

In [44]:
def age_ranges(x):
    if x<25:
        return 'Younger than 25'
    elif x>55:
        return 'Older than 55'
    else:
        return 'Between 25 and 55'

In [45]:
df['Age Range']= df['Age'].apply(age_ranges)

In [46]:
df.head()

,Rank,Name,Age,End_Of_Watch,Day_Of_Week,Cause,Department,State,Tour,Badge,Weapon,Offender,Summary,Binary age,corrected_age,Age Range
0,Constable,Darius Quimby,NaN,1791-01-03,Monday,Stabbed,"Albany County Constable's Office, New York",New York,NaN,NaN,Edged weapon; Knife,Executed in 1791,Constable Darius Quimby was stabbed to death w...,0,NaN,Between 25 and 55
1,Sheriff,Cornelius Hogeboom,53.0,1791-10-22,Saturday,Gunfire,"Columbia County Sheriff's Office, New York",New York,2 years,NaN,Gun; Unknown type,Acquitted,Sheriff Cornelius Hogeboom was shot and killed...,1,51.0,Between 25 and 55
2,Deputy Sheriff,Isaac Smith,NaN,1792-05-17,Thursday,Gunfire,"Westchester County Sheriff's Department, New York",New York,NaN,NaN,Handgun,Executed in 1793,Deputy Sheriff Isaac Smith was shot and killed...,0,NaN,Between 25 and 55
3,Marshal,Robert Forsyth,40.0,1794-01-11,Saturday,Gunfire,United States Department of Justice - United S...,United States,"4 years, 4 months",4,Handgun; Pistol,Escaped,"Marshal Robert Forsyth, believed to be one of ...",0,38.0,Between 25 and 55
4,Deputy Sheriff,Robert Berwick,NaN,1797-06-29,Thursday,Gunfire,"New York County Sheriff's Office, New York",New York,NaN,NaN,Handgun,Executed in 1797,Deputy Sheriff Robert Berwick was shot and kil...,0,NaN,Between 25 and 55

# LAMBDA

In [60]:
df = df.assign(Corrected_age_2 = lambda x: x['Age'] -2)

In [61]:
df.columns

Index(['Rank', 'Name', 'Age', 'End_Of_Watch', 'Day_Of_Week', 'Cause',
       'Department', 'State', 'Tour', 'Badge', 'Weapon', 'Offender', 'Summary',
       'Binary age', 'corrected_age', 'Age Range', 'Corrected_age_2'],
      dtype='object')

In [62]:
df['Corrected_age_2'] # lo utilizamos para llamar a la nueva columna "Corrected_age_2"

0         NaN
1        51.0
2         NaN
3        38.0
4         NaN
         ...
25618    50.0
25619    46.0
25620    31.0
25621    36.0
25622    30.0
Name: Corrected_age_2, Length: 25623, dtype: float64

# EXERCISE

In [ ]:
#Construir una nueva columna life_precentage en donde la edad se exprese [Age]/80*100

In [63]:
df = df.assign(life_percentage = lambda x: x['Age'] *1.25) #80/100 es equivalente a 1.25

In [64]:
df['life_percentage']

0          NaN
1        66.25
2          NaN
3        50.00
4          NaN
         ...
25618    65.00
25619    60.00
25620    41.25
25621    47.50
25622    40.00
Name: life_percentage, Length: 25623, dtype: float64

# GROUPBY + APPLY + LAMBDA FUNCTION

In [49]:
df.groupby('Day_Of_Week').apply(lambda x: x['Age Range'].value_counts())

Age Range    Between 25 and 55  Older than 55  Younger than 25
Day_Of_Week
Friday                    3193            366              181
Monday                    2943            379              193
Saturday                  3413            385              204
Sunday                    3170            379              216
Thursday                  3053            389              178
Tuesday                   2946            396              175
Wednesday                 2914            366              184

# EXERCISE

In [56]:
df.groupby(['Day_Of_Week', 'Age Range']).apply(lambda x: x['Rank'].nunique())

Day_Of_Week  Age Range
Friday       Between 25 and 55    224
             Older than 55         88
             Younger than 25       45
Monday       Between 25 and 55    203
             Older than 55         94
             Younger than 25       46
Saturday     Between 25 and 55    218
             Older than 55         82
             Younger than 25       54
Sunday       Between 25 and 55    200
             Older than 55         94
             Younger than 25       45
Thursday     Between 25 and 55    217
             Older than 55         83
             Younger than 25       41
Tuesday      Between 25 and 55    219
             Older than 55         89
             Younger than 25       34
Wednesday    Between 25 and 55    206
             Older than 55         88
             Younger than 25       42
dtype: int64

# CONCAT AND MERGE

In [ ]:
EXERCISE

In [ ]:
#Voy a crear un nuevo data set

In [120]:
new_df1 = df[['Rank', 'Name', 'Age', 'State']]

In [121]:
new_df1.head(6)

             Rank                Name   Age           State
0       Constable       Darius Quimby   NaN        New York
1         Sheriff  Cornelius Hogeboom  53.0        New York
2  Deputy Sheriff         Isaac Smith   NaN        New York
3         Marshal      Robert Forsyth  40.0   United States
4  Deputy Sheriff      Robert Berwick   NaN        New York
5         Sheriff      Robert Maxwell  45.0  South Carolina

In [122]:
new_df2 = df[['Rank', 'Name', 'Age', 'State']] #VOY A CREER OTRO DATA SET

In [123]:
new_df2 = new_df2.iloc[7:12]

In [124]:
new_df2

              Rank                 Name   Age           State
7     High Sheriff   John Caldwell Cook  74.0  North Carolina
8         Watchman  Christian Luswanger   NaN        New York
9   Deputy Sheriff        John A. Gooch   NaN        Kentucky
10         Boatman          Ellis Drake  20.0   United States
11  Night Watchman       George Workner   NaN        Maryland

In [ ]:
#AHORA PROCEDERÉ A CONCATENAR

In [125]:
pd.concat([new_df1, new_df2])

              Rank                 Name   Age           State
0        Constable        Darius Quimby   NaN        New York
1          Sheriff   Cornelius Hogeboom  53.0        New York
2   Deputy Sheriff          Isaac Smith   NaN        New York
3          Marshal       Robert Forsyth  40.0   United States
4   Deputy Sheriff       Robert Berwick   NaN        New York
..             ...                  ...   ...             ...
7     High Sheriff   John Caldwell Cook  74.0  North Carolina
8         Watchman  Christian Luswanger   NaN        New York
9   Deputy Sheriff        John A. Gooch   NaN        Kentucky
10         Boatman          Ellis Drake  20.0   United States
11  Night Watchman       George Workner   NaN        Maryland

[25628 rows x 4 columns]

In [129]:
df.to_csv('output.csv', index=None, sep=',')